{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Privacy{% endblock %}


{% block content %}

<div class="container is-fluid" id="content">
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">Privacy</h2>
        <p class="subtitle is-size-6 has-text-centered is-italic has-tect-grey"></p>
            
        <div class="block">
            <div class="card block">
                <div class="card-content card-margin">
                    <p>Stichting I Respect Animals, located at Jasmijnstraat 30, 2165 CC, Lisserbroek, os responsible for the processing of personal data as presented in this privacy statement.</p><br>
                    <p>Contact details:
                    <ul>
                        <li>www.stichting-i-respect-animals.herokuapp.com</li>
                        <li>Jasmijnstraat 30</li>
                        <li>2165CC Lisserbroek</li>
                    </ul></p><br>
                    <p>Personal data that we process Stichting I Respect Animals processes your personal data because you use our services and/or because you provide these to us yourself.</p>
                    <p>Below you will find an overview of the personal data that we peocess:
                    <ul>
                        <li>First and last name</li>
                        <li>Date of birth</li>
                        <li>Address data</li>
                        <li>Phone number</li>
                        <li>E-mail address</li>
                    </ul></p><br>
                    <p>Special and/or sensitive personal data that we process our website and/or service does not intend to collect data about website visitors under the age of 16. Unless they have permission from parents or guardian. However, we cannot check whether a visitor is older than 16. We therefore advise parents to be involved in their childeren's pn;ine activities in order to prevent information about childeren being collected without parental consent. If you are convinced that we have collected personal information about minor without that permission, please contact us at: sira4dogs@gmail.com, we will remove this information.</p><br>
                    <p>For what purpose and on what basis we process personal data Stichting I Respect Animals processes your personal data for the following purposes:
                    <ul>
                        <li>Being able to call or e-mail you if this is necessary to be able to perform our services</li>
                        <li>Sending our newletter and/or advetising brochure (COMMING SOON)</li>
                    </ul></p><br>
                    <p>You have the right to view, correct or delete your personal data. In addition, you have the right to withdraw your consent for data processing or to object to the processing of your personal data by Stichting I Respect Animals and you have the right to data transferability. This means that you can submit a request to us to send the personal data that we hold about you in a computer file to you or another organization mentioned by you.</p><br>
                    <p>You can send a request for access, correction, deletion, data transfer of your personal data or request for withdrawal of your consent or objection to the processing of your personal data to sira4dogs@gmail.com</p><br>
                    <p>To ensure that the request for inspection has been made by you, we request that you send a copy of your proof of identity with the request. Make in this copy your passport photo, MRZ (machine readable zone, the strip with numbers at the bottom of the passport), passport number and Citizen service number (BSN) black. This is to protect your privacy. We will respond to your request as quickly as possible, but within four weeks.</p><br>
                    <p>Stichting I Respect Animals would also like to point out that you have the possibility to file a complaint with the national data protection authority, the Dutch Data Protection Authority. You can do this via the following link: https://autoriteit Individual data.nl/nl/contact-with-de-autoriteit- Individual data/tip-ons</p><br>
                    <p>Stichting I Respect Animals takes the protection of your data seriously and takes appropriate measures to prevent abuse, loss, unauthorized access, unwanted disclosure and unauthorized changes. If you have the impression that your data is not properly protected or there are indications of abuse, please contact via sira4dogs@gmail.com</p><br>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

{% endblock %}