{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Terms and Conditions{% endblock %}


{% block content %}

<div class="container is-fluid">
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">Terms and Conditions</h2>
        <p class="subtitle is-size-6 has-text-centered is-italic has-tect-grey">At the time of adoption, you will be required to complete an adoption agreement.<br> The terms and conditions below are what you will be agreeing to.</p>
            
        <div class="block">
            <div class="card block">
                <div class="card-content card-margin has-text-centered">
                    <h3 class="title is-4 has-text-link">Adoption Donations</h3>
                    <p>Adoption Donations must be paid in full at the time of adoption by banktransfer. These donations go part way to cover the cost of th animal transportation. Adoption donation for each dog is &euro; 320. </p><br>
                </div>
                <div class="card-content card-margin">
                    <h3 class="title is-size-4 has-text-link has-text-centered">Terms and conditions of adoption</h3>
                    <ol>
                        <li>I have considered all aspects of pet ownership incluiding cost of insurance, veterinary fees, feeding and grooming and I am prepared to accept the personal and financial responsibility of ownership. I also have the time to give proper exercise and undertake any training that is needed</li>
                        <li>I confirm that this dog is being adopted as a family pet and will live inside the home as a member of the family and not to be chanied or kenneled outside. It will be provided with adequate water and will wear an identity tag at all times.</li>
                        <li>I agree to register this animal with a qualified vet, will maintain a vaccination and worming programme in accordance with veterinary quidelines and understand that it is my responsibility to pay for all necessary treatments from the date of adoption</li>
                        <li>I understand that due to the unknown history of this animal there can be no guarantees against any hereditary defects, conditions or illness and agree that Stichting I Respect Animals cannot be held liable fir any future treatments costs</li>
                        <li>I understand that I a solely responsible for keeping the adopted animal under proper control and accept full responsibility for the animal and its actions. I am aware that animals can occasionally cause damage and agree that Stichting I Respect Animals are not responsible for any actions of the animal once it is in my care</li>
                        <li>I agree to contact Stichting I Respect Animals immediatly should any behavioral problems arise and will work with them and/or a behaviorist to try and rectify any problems</li>
                        <li>This animal is not to be passed to another owner or rescue centre without Stichting I Respect Animals prior consent in writting and, should I chose, or be unable, to keep this animal for any reason I will return it to Stichting I Respect Animals</li>
                        <li>I understand that if any of the terms and conditions are broken, then Stichting I Respect Animals or their authorised representatives have the absolute right to remove the animal from my care and there will be no refund of adoption donation for any animal so returned</li>
                        <li>I agree that Stichting I Respect Animals may retain the contact information that I have supplied for the purpose of contacting me from time to time</li>
                        <li>If the animal is too young to be neutered at the time of adoption, I agree to have this done at the earliest opportunity. (We advise 6 months of age)</li>
                    </ol>
                </div>
                <div class="card-content card-margin">
                    <p>I certify the information I have given is true and realise that any misrepresentation will result in my losing the privilege fo adopting the animal</p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

{% endblock %}