{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}FAQs{% endblock %}

{% block hero-image %}<img src="{% static 'images/hero-image5.jpg' %}"></img>{% endblock %}

{% block content %}


<div class="container is-fluid" id="content">

  <section data-section-id="1" data-component-id="15a7_9_03_awz" data-category="faqs" class="section">
    <div class="container">
      <h2 class="title has-text-centered" data-config-id="header">Frequently Asked Questions</h2>
      <div class="block" data-config-id="faq">

        <div class="card block">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <img src="{% static 'icons/dog.png' %}" alt="FAQs dog icon">
              </div>
              <div class="media-content">
                <h3 class="title is-4">What breed are Spanish dogs?</h3>
                <p>Spanish rescues come in any shape, size, color, or type "pawsible!". They are primarily a mix of common breeds, such as German Shepherds, Hounds, Retrievers and Labradors. But we've also rescued dogs the size of a small Poodle, Yorkie
                  even Shih Tzu, so it just varies.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card block">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <img src="{% static 'icons/dog.png' %}" alt="FAQs dog icon">
              </div>
              <div class="media-content">
                <h3 class="title is-4">What behavior can I expect?</h3>
                <p>We provide all potential adopters with notes on possible characteristics they may notice when their pet first arrives. Please keep in mind as you read the notes, that not all dogs have all of those behaviors, it&rsquo;s really dependent
                  on their previous living situation (streets, house, shelter, etc.).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card block">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <img src="{% static 'icons/dog.png' %}" alt="FAQs dog icon">
              </div>
              <div class="media-content">
                <h3 class="title is-4">I have cats. Will my Spanish dog get along with them?</h3>
                <p>Most Spanish rescues don't have a lot, if any, interaction with cats. While they both share the streets, so to speak, cats are usually up hiding or walking on walls. We do have some dogs living with cats currently, and will state their
                  compatibility on their adoption page. If you have any questions about a specific dog and other pets, please email us.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card block">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <img src="{% static 'icons/dog.png' %}" alt="FAQs dog icon">
              </div>
              <div class="media-content">
                <h3 class="title is-4">How will you get my pet to me?</h3>
                <p>Our most common mode of transportation is by ground travel. Spanish rescues are driven from Spain to a "Pick-Up" point where you are able to pick-up your dog.</p>
                <p>If you are adopting a rescue that is in the same Country as you are, you can pick him or her at their foster home.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card block">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <img src="{% static 'icons/dog.png' %}" alt="FAQs dog icon">
              </div>
              <div class="media-content">
                <h3 class="title is-4">How much does adopting a Spanish dog cost?</h3>
                <p>Altough we don't have an adoption "fee", we do request a donation to reimburse us for vaccines, microchipping and transport. The donation we request is &euro; 310 per dog. This donation is collected when you sign and submit the adoption
                  contract.</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</div>


{% endblock %}