{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}{{ object.name }}{% endblock %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="container is-fluid">
    <div class="columns is-desktop is-vcentered">
      <!-------- Dog detailed information -->
      <div class="column is-6-desktop">
        <h2 class="title is-size-2-desktop">{{ object.name }}</h2>
  
        {% if object.status == True %}
        <button class="button is-success is-rounded"><span class="icon is-small"><i class="fas fa-heart"></i></span><span>for adoption</span></button> 
        {% elif object.status == False %}
        <button class="button is-danger is-rounded"><span class="icon is-small"><i class="fas fa-heart"></i>"></span><span>adopted</span></button> 
        {{% endif%}
        
        <hr>
        <p class="is-size-4-desktop is-size-5-touch">{{ object.description }}</p>
        <hr>
        
        <table class="table is-fullwidth">
          <tbody data-config-id="table">
            <tr>
              <td class="title is-size-5">Date of birth</td>
              <td class="has-text-right is-size-5">{{ object.date_of_birth }}</td>
            </tr>
            <tr>
              <td class="title is-size-5">Sex</td>
              <td class="has-text-right is-size-5">{{ object.sex }}</td>
            </tr>
            <tr>
              <td class="title is-size-5">Age</td>
              <td class="has-text-right is-size-5">{{ object.age }}</td>
            </tr>
            <tr>
              <td class="title is-size-5">In shelter since</td>
              <td class="has-text-right is-size-5">{{ object.in_shelter_from }}</td>
            </tr>
            <tr>
              <td class="title is-size-5">Breed</td>
              <td class="has-text-right is-size-5">{{ object.breed }}</td>
            </tr>
            <tr>
              <td class="title is-size-5">Size</td>
              <td class="has-text-right is-size-5">{{ object.size }}</td>
            </tr>
            <tr>
              <td class="title is-size-5">Location</td>
              <td class="has-text-right is-size-5">{{ object.location }}</td>
            </tr>
            <tr>
              <td class="title is-size-5">Situation</td>
              <td class="has-text-right is-size-5">{{ object.situation }}</td>
            </tr>
          </tbody>
        </table>
  
        {% if user.is_authenticated %}
        <div class="buttons">
        <a class="button is-warning" href="{% url 'dog_update' object.id %}">Edit Information</a>
        <a class="button is-danger" href="{% url 'dog_delete' object.id %}">Remove</a>
        </div>
  
        {% else %}
        <a class="button is-info is-centered" href="{% url 'contact' %}">Contact Us!</a> 
        {% endif %}
      </div>
      <!-------- Dog images next to information -->
      <div class="column is-6-desktop">
        <figure class="main-dog-img image is-hidden-touch" style="background-image: url('{{ MEDIA_URL }}{{ object.dog_image1 }}')" onclick="openModal();currentSlide(1)"></figure>
        <br>
        <div class="columns is-multiline is-6-desktop" data-config-id="images">
          {% if object.dog_image2 %}
          <div class="column">
              <figure class="image detail-dog-img" style="background-image: url('{{ MEDIA_URL }}{{ object.dog_image2 }}')" onclick="openModal();currentSlide(2)"></figure>
          </div>
          {% endif %} {% if object.dog_image3 %}
          <div class="column">
            <figure class="image detail-dog-img" style="background-image: url('{{ MEDIA_URL }}{{ object.dog_image3 }}')" onclick="openModal();currentSlide(3)"></figure>
          </div>
          {% endif %} {% if object.dog_image4 %}
          <div class="column">
            <figure class="image detail-dog-img" style="background-image: url('{{ MEDIA_URL }}{{ object.dog_image4 }}')" onclick="openModal();currentSlide(4)"></figure>
          </div>
          {% endif %}
        </div>
      </div>
      <!-------- Dog images modal next to information -->
      <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-content is-vcentered">
          <div class="item-slide">
            <figure class="image is-4by3 modal-img is-hidden-touch" style="background-image: url('{{ MEDIA_URL }}{{ object.dog_image1 }}')"></figure>
          </div>
          <div class="item-slide">
            <figure class="image is-4by3 modal-img" style="background-image: url('{{ MEDIA_URL }}{{ object.dog_image2 }}')"></figure>
          </div>
          <div class="item-slide">
            <figure class="image is-4by3 modal-img" style="background-image: url('{{ MEDIA_URL }}{{ object.dog_image3 }}')"></figure>
          </div>
          <div class="item-slide">
            <figure class="image is-4by3 modal-img" style="background-image: url('{{ MEDIA_URL }}{{ object.dog_image4 }}')"></figure>
          </div>
        </div>
        <a class="prev" onclick="plusSlides(-1)"><i class="fas fa-chevron-left"></i></a>
        <a class="next" onclick="plusSlides(1)"><i class="fas fa-chevron-right"></i></a>
        <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
      </div>
    </div>
    </div>
  </div>
</section>

{% endblock %}