{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Add a rescue{% endblock %}

{% block content %}


<div class="container is-fluid" id="content">
<section data-section-id="1" data-component-id="15a7_9_03_awz" data-category="contact" class="section">
        <div class="container">
            <h2 class="title has-text-centered" data-config-id="header">Add a new adoptable dog</h2>
            <p class="subtitle is-size-6 has-text-centered is-italic has-tect-grey">Please fill in all the required fields to submit form</p>
        </div>
    </section>

    <section data-section-id="2" data-component-id="15a7_12_02_awz" data-category="contact" class="section">
        <div class="container">
            <div class="columns is-centered is-mobile">
                <div class="column is-10-mobile is-6-desktop">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                          
                        {{ form.as_p }}        
                        
                        <br>
                        <div class="field">
                            <div class="control">
                                <input class="button is-info is-fullwidth" type="submit" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock %}