:root{
  --main-color: #1190CB;
  --color-white: #fff;
  --color-transperant-orange: rgba(205, 76, 17, 0.8);
}

/*     Help section custom styling     */
.help-section, .adoption {
  background-color: var(--main-color);
  margin: 3rem 0rem;
  padding: 2rem 0rem;
}

.white-svg{
  fill: var(--color-white);
}

/*     About section custom styling     */
.about-us {
  height: 100vh;
}

.about-us-text {
  margin-right: 3.2rem;
}

/*     Happy Ending Counter section custom styling     */
.happy-endings-section {
  background-color: var(--color-transperant-orange);
  margin: 3rem 0rem;
  padding: 2rem 0rem;
}

.adoption-steps {
  margin: 5rem 30rem;
}





/*     Media queries     */
@media screen and (max-width: 767px){
    .help-adopt-svg, .help-foster-svg, .help-donate-svg, .help-volunteer-svg {
      fill: var(--color-white);
      height: 48px;
      width: 48px;
    }
}


@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
    .help-adopt-svg, .help-foster-svg, .help-donate-svg, .help-volunteer-svg {
      fill: var(--color-white);
      height: 96px;
      width: 96px;
    }
}

a.navbar-item {
  color: #FAFAFF;
  text-align: center;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: transparent;
    color: #A399FF;
}

@media screen and (min-width: 1088px) {
  .navbar-start {
    margin-left: auto;
    margin-right: 150px;
  }
  .navbar-end {
    margin-right: auto;
    margin-left: 150px;
  }
}