:root{
  --main-color: #1190CB;
  --color-white: #fff;
  --color-transperant-orange: rgba(205, 76, 17, 0.8);
}




/*     Help section custom styling     */
.help-section, .adoption {
  background-color: var(--main-color);
  margin: 3rem 0rem;
  padding: 2rem 0rem;
}

.white-svg{
  fill: var(--color-white);
}

/*     About section custom styling     */
.about-us {
  height: 100vh;
}

.about-us-text {
  margin-right: 3.2rem;
}

/*     Happy Ending Counter section custom styling     */
.happy-endings-section {
  background-color: var(--color-transperant-orange);
  margin: 3rem 0rem;
  padding: 2rem 0rem;
}

.adoption-steps {
  margin: 5rem 30rem;
}

.dog-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  width: 300px;
  margin: 0 auto;
  
}

.main-dog-img {
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 480px;
  margin: 20px 40px;
}



.detail-dog-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 150px;
  margin-left: 40px;
}




/*     Media queries     */
@media screen and (max-width: 768px){
    .svg-size {
      display: none;
    }
    .about-us {
      height: 80vh;
    }
    .img-size {
      display: none;
    }
    
}


@media screen and (min-width:769px){
    .svg-size {
      height: 96px;
      width: 96px;
    }
}



}

@media screen and (min-width: 1088px) {
    .svg-size {
      height: 128px;
      width: 128px;
    }
}