{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Meet the Team{% endblock %}

{% block meta_content %}
<meta
  name="description"           
  content="Meet the team behind the non-profit organization called SIRA">
{% endblock %}

{% block hero-image %}
<picture>
    <source srcset="{% static 'images/hero-image-team.webp' %}" type="image/webp">
    <source srcset="{% static 'images/hero-image-team.jpg' %}" type="image/jpg">
    <img data-lazy="{% static 'images/hero-image-team.jpg' %}" alt="hero-image-sira-team-page"></img>
</picture>
{% endblock %}

{% block content %}

<div class="container is-fluid">
<!------------------------ SIRA Team Section -----------------> 
<section class="section">
    <div class="container has-text-centered">
        <h2 class="title" data-config-id="header">Meet the Team</h2>
        <p class="subtitle is-5 has-text-grey is-italic" data-config-id="description">We are the humans that made this whole thing possible</p>
        <div class="columns" data-config-id="team_01">
    
        <div class="column is-4">
            <div class="level">
                <div class="level-item">
                    <img class="image is-rounded is-128x128" data-lazy="{% static 'images/user.png' %}" alt="picture of Sandra">
                </div>
            </div>
            <h5 class="title is-size-3 has-text-link">Sandra</h5>
            <p class="subtitle is-size-5">Social Media Director</p>
            <p class="is-size-5">As social media director I'm inchage of handeling all the question and messages that come thru our social media account.</p>
        </div>
                
        <div class="column is-4">
            <div class="level">
                <div class="level-item">
                    <img class="image is-rounded is-128x128" data-lazy="{% static 'images/user.png' %}" alt="picture of Paula">
                </div>
            </div>
            <h5 class="title is-size-3 has-text-link">Paula</h5>
            <p class="subtitle is-size-5">Adoption and Volunteer Director</p>
            <p class="is-size-5">My work as it ups and it downs, but for the most part it is really great. Being able to complete the process of a dog being addopted or registering new volunteers is what makes my job so awesome.</p>
        </div>
                
        <div class="column is-4">
            <div class="level">
                <div class="level-item">
                    <img class="image is-rounded is-128x128" data-lazy="{% static 'images/user.png' %}" alt="picture of Karin">
                </div>
            </div>
            <h5 class="title is-size-3 has-text-link">Karin</h5>
            <p class="subtitle is-size-5">Financial Director</p>
            <p class="is-size-5">As financial director I'm in charge of handeling the donations and fees that come with the rescue, adoption and transportation of our rescued dogs.</p>
            </div>
        </div>
    </div>
</section>
    
<!------------------------ Vacancies Section ----------------->     
<section class="section">
    <div class="container has-text-centered">
        <h2 class="title" data-config-id="header">Vacancies</h2>
        <p class="subtitle is-5 has-text-grey is-italic">We are always looking for more volunteer team members.<br>
            Want to give a helping hand? Please don't hesitate to <a href="{% url 'contact' %}">contact us</a></p>
    </div>    
</section>
</div>
{% endblock %}