{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Why Spainish Dogs{% endblock %}

{% block hero-image %}<img src="{% static 'images/hero-image3.jpg' %}"></img>{% endblock %}

{% block content %}

<!------------------------ Why Spain Section ----------------->
<div class="container is-fluid" id="content">  
  <section data-section-id="2" data-component-id="15a7_19_02_awz" data-category="content" class="section">
    <div class="container has-text-centered">
      <p class="is-size-4-desktop is-size-5-touch">People often ask, <span class="is-italic has-text-weight-semibold">"Why should anyone care about the rescue dogs in Spain, when so many dogs in The Netherlands need homes too?"</span></p><br>

      <p class="is-size-4-desktop is-size-5-touch">We tell them this: <span class="is-italic has-text-weight-semibold">"Because in Spain stray animal have a small percentage of being in a forever home".</span> In Spain dogs are abandon after they have done there jobs as; hunters, puppy factory or
        dog fighting. Some stray dogs also have the bad luck that there family don't want them anymore, so they get dumped on the side of the road.</p><br>

      <p class="is-size-4-desktop is-size-5-touch">There aren't rescue and cruelty prevention groups such as those in The Netherlands to serve as advocates for these sweet pups. Spanish strays are kicked, beaten, ran over by cars, and left for dead. They wander the streets searching for food, most
        of them skeletal. And if these dogs have figured out how cruel people can be, they stay in deserted areas, searching for whatever bits of food they can find, trembling and running away from anyone that tries to come near them.</p><br>

      <p class="is-size-4-desktop is-size-5-touch">And if they do have the chance of being in a home, many of them are attached to a three-foot chain, next to a dog house that is way too small, that they can barely reach because of how they are chained. They are covered in mud, and left there to
        watch the cars fly by them every day  ...  day in, and day out. No feeling of love or warmth from their owner.r</p><br>

      <p class="is-size-4-desktop is-size-5-touch">We can sum up the sentiment in Spain in one analogy: If you see a dog walking the streets in The Netherlands, your first thought is usually <span class="is-italic has-text-weight-semibold">“Oh no, someone’s dog got out!”</span> Whereas in Spain,
        it’s <span class="is-italic has-text-weight-semibold">“Oh look, another forgotten, stray dog ... with no place to call home ... maybe we should call the dog catcher and get rid of it.”</span></p><br>

      <p class="is-size-4-desktop is-size-5-touch"We know there are dogs all over the world, even in the Netherlands, who need help, but it’s just the strays of Spain need a few more advocates on their side.</p><br>
    </div>
  </section>
</div>

<!------------------------ Feature listing for dogs that are available for adoption ----------------->
<section data-section-id="1" data-component-id="15a7_3_09_awz" data-category="features" class="section">
  <div class="container has-text-centered">
    <h2 class="title" data-config-id="header">Will you help us?</h2>
    <div class="columns is-multiline" data-config-id="features_09">
      
      {% for dog in featured_dogs %}
      <div class="column is-6 is-2-desktop">
        <div class="level">
          <div class="level-item">
            <figure class="image detail-dog-img" style="background-image: url('{{ dog.dog_image1.url }}')"></figure>
          </div>
        </div>
        <h4 class="title is-4 has-text-centered">{{ dog.name }}</h4>
      </div>
      {% endfor %}
      
    </div>
    <a class="button is-warning is-medium" href="{% url 'all_dogs' %}"><strong>View All!</strong></a>
  </div>
</section>

{% endblock %}

