{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Forever Home{% endblock %}

{% block content %}

<div class="container is-fluid" id="content">
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">Forever Home</h2>
        <h5 class="subtitle has-text-centered">Have a look at all the rescue dogs who have now a place to call <strong class="is-uppercase">home!</strong></h5>

        <!-------- Card to view all dogs that have been adopted -->
        <div class="columns is-multiline">

            {% for dog in dogs %}
            <div class="column is-4-desktop">
                <div class="card" style="height: 100%">
                    <div class="card-image">
                        <figure class="adoption-image image" style="background-image: url('{{ MEDIA_URL }}{{ dog.adoption_image }}')"></figure>
                    </div>
                        <div class="card-content has-text-centered">
                            <h3 class="title is-3 has-text-link">{{ dog.name }}</h3>
                            <h5 class="subtitle is-5">{{ dog.adoption_date }}</h5>
                                
                            {% if user.is_authenticated %}
                            <a class="button is-info is-outlined" href="{% url 'update_happy_ending' dog.id %}">Update</a>
                            {% endif %}
                        </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
         
        <!-------- Page Pagination -->   
        {% if is_paginated %}
        <div class="is-medium has-text-centered" role="navigation" aria-label="pagination">
            {% if page_obj.has_previous %}
            <a class="button is-rounded is-info is-outlined" href="?page=1"><strong>First</strong></a>
            <a class="button is-rounded is-info is-outlined" href="?page={{ page_obj.previous_page_number }}"><strong>Previous</strong></a> 
            {% endif %} 
                    
            {% for num in page_obj.paginator.page_range %} 
                {% if page_obj.number == num %}
                <a class="button is-rounded is-info" href="?page={{ num }}"><strong>{{ num }}</strong></a> 
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                <a class="button is-rounded is-info is-outlined" href="?page={{ num }}"><strong>{{ num }}</strong></a>
                {% endif %} 
            {% endfor %}
                    
            {% if page_obj.has_next %}
            <a class=" button is-rounded is-info is-outlined" href="?page={{ page_obj.next_page_number }}"><strong>Next</strong>t</a>
            <a class=" button is-rounded is-info is-outlined" href="?page={{ page_obj.paginator.num_pages }}"><strong>Last</strong></a> 
            {% endif %}
        </div>
        {% endif %}
    </div>            
</section>
</div>


{% endblock %}
