{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block page_title %}Login{% endblock %} 

{% block content %}
    
<div class="container is-fluid" id="content">
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">Log in</h2>
        <p class="subtitle is-size-6 has-text-centered is-italic has-tect-grey">Administrators ONLY!</p>
        <p class="subtitle is-size-6 has-text-centered is-italic has-tect-grey"><a href="{% url 'password_reset' %}">Forgot my password?</a></p>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <div class="columns is-centered is-mobile">
            <div class="column is-12-mobile is-4-desktop">
                <form method="POST">
                    {% csrf_token %}
                        
                    <div class="field">
                        <div class="control">
                            <label for="id_username" class="label is-size-5-desktop is-size-7-mobile">Username</label>
                            <div class="control has-icons-left has-icons-right">
                                {{ form.username|add_class:'input'|attr:"placeholder:Enter your username" }} 
                                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                            </div>
                            
                            <label for="id_password" class="label is-size-5-desktop is-size-7-mobile">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                {{ form.password|add_class:'input'|attr:"placeholder:Password" }}
                                <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <input class="button is-info is-fullwidth" type="submit" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>



{% endblock %}