{% extends "base.html" %}
{% load staticfiles %}
{% block page_title %}Login{% endblock %} 

{% block content %}
    
<div class="container is-fluid" id="content">
    <section data-section-id="1" data-component-id="15a7_9_03_awz" data-category="faqs" class="section">
        <div class="container">
            <h2 class="title has-text-centered" data-config-id="header">Log in!</h2>
            <p class="subtitle is-size-6 has-text-centered is-italic has-tect-grey">Administrators ONLY!</p>
        </div>
    </section>

    <section data-section-id="3" data-component-id="15a7_12_01_awz" data-category="sign-in" class="section">
        <div class="container has-text-centered">
            <div class="columns is-centered">
                <div class="column is-5 is-4-desktop">
                    <form method="post" action="{% url 'login' %}?next={{ next }}">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control">
                                <input class="input" type="name" placeholder="Email or Username">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <input class="button is-primary is-fullwidth" type="submit" value="Sign in!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
        <fieldset class="form-group">
            <legend>Login</legend>
            {% csrf_token %}
            {{ user_form }}
            
             <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
             
            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>



{% endblock %}