{% extends "base.html" %}
{% load staticfiles %}
 

{% block content %}

    <div class="notification is-info is-light has-text-centered">
        <div class="title is-size-1-desktop is-size-3-mobile">
            Your password has been changed
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control is-expanded has-text-centered">
            <a class="button is-warning" type="submit" href="{% url 'login' %}">Sign in Here</a>
        </div>
    </div>

{% endblock %}