{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %} 
{% block page_title %}Setting New Password{% endblock %} 


{% block content %}
{% if validlink %}
<div class="container is-fluid" id="content">
<section class="section">
    <div class="container">
        <h2 class="title has-text-centered">Setting New Password</h2>
        <p class="subtitle is-size-6 has-text-centered is-italic has-tect-grey">Please enter (and confirm) your new password.</p>
    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <div class="columns is-centered is-mobile">
            <div class="column is-12-mobile is-4-desktop">
                <form method="POST">
                    {% csrf_token %}
                        
                    <div class="field">
                        <div class="control">
                            
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1" class="label is-size-5-desktop is-size-7-mobile">New password</label>
                        <div class="control has-icons-left has-icons-right">
                            {{ form.new_password1|add_class:"input"|attr:"placeholder:Enter new password" }}
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </div
                            
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2" class="label is-size-5-desktop is-size-7-mobile">Confirm password</label>
                        <div class="control has-icons-left has-icons-right">
                            {{ form.new_password2|add_class:"input"|attr:"placeholder:Confirm new password" }}
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </div
                            
                        </div>
                    </div>
                
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            <input class="button is-info is-fullwidth" type="submit" value="Reset Password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
{% endif %}
{% endblock %}