{% extends "base.html" %}
{% load staticfiles %}
 

{% block content %}
    
<section class="section">
    <div class="notification is-info has-text-centered">
        <div class="title is-size-1-desktop is-size-3-mobile">
            Your new password has been set.
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control is-expanded">
            <a class="button is-info" type="submit" href="{% url 'login' %}">Sign In Here</a>
        </div>
    </div>
</section>

{% endblock %}