<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>SIRA | {% block page_title %}{% endblock %}</title>
    <link rel="icon" href="https://res.cloudinary.com/dbnahdjbc/image/upload/v1575313937/favicon_p68ctw.png" type="image/x-icon"/ >
    
    <link href="https://fonts.googleapis.com/css?family=Courgette|Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    
    
    
    
    <style>
        body {font-family: roboto;}
        .navbar {height: 125px;}
        .navbar-brand {height: 100%;}
        .navbrand {position: absolute; left: 50%; margin-left: -100px; margin-top: 0; padding: 0; height: 100%; display: flex; align-items: center;}
        .navbar-logo {width: 100px; height: 100px; align-self: center;}
        .navbar-item {margin: auto 60px;}
        a.navbar-item, .navbar-link {color: #000; font-weight: 600; font-family: Courgette; cursor: url('{% static 'icons/animal-paw-print.png' %}'), auto;}
        
        .image img {display: block; height: 90vh; width: 100vw;}
        
        .footer {margin-top: 5rem;}
        .footer .buttons {justify-content: center;}
        .footer .control-button {text-align: center;}
        
    </style>
    
</head>
<body>
    
    <!------------------------------ Navigation Bar ------------------------->
    <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbrand" href="#">
                    <img class="navbar-logo" src="{% static 'images/logo.jpg' %}" alt="SIRA-logo">
                </a>
                <span role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </span>
            </div>
            
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item is-size-5" href="#">Home</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-size-5">About</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">Why Spain?</a>
                            <a class="navbar-item" href="#">SIRA Team</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link is-size-5">Get Involved</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="#">Adopt</a>
                            <a class="navbar-item" href="#">Volunteer</a>
                            <a class="navbar-item" href="#">FAQ's</a>
                        </div>
                    </div>
                </div>
                
                <div class="navbar-end">
                    <a class="navbar-item is-size-5" href="#">Adopt</a>
                    <a class="navbar-item is-size-5" href="#">Happy Endings</a>
                    <a class="navbar-item is-size-5" href="#">Contact</a>
                </div>
            </div>
    </nav>
    
    <div class="image">
    {% block hero-image %}{% endblock %}
    </div>
    
    {% block content %}{% endblock %}
    {% block login %}{% endblock %}
    {% block homepage %}{% endblock %}
    {% block sira_team %}{% endblock %}
    {% block why_spain %}{% endblock %}
    {% block faqs %}{% endblock %}
    
    
    
    
    
    
    
    <!------------------------------ Footer ------------------------->
<footer class="footer">
    <div class="columns">
        <div class="column is-3 is-offset-2 has-text-centered">
            <h6 class="title">About Us</h6>
            <p>About us short informtaion section</p>
        </div>
        <div class="column is-2 has-text-centered">
            <h6 class="title">Our loacation:</h6>
            <address>
                    <strong >Stichting I Respect Animals</strong><br>
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i><a href="mailto:adoptie.sira@gmail.com">adopties.sira@gmail.com</a></span>
                </address>
            <div class="columns has-text-centered">
                <div class="column has-text-centered">
                    <div class="buttons" data-config-id="icons">
                        <a class="button footer-buttons" href="#"><img src="{% static 'svg/facebook-f.svg' %}" alt=""></a>
                        <a class="button footer-buttons" href="#"><img src="{% static 'svg/instagram.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3 has-text-centered">
            <h6 class="title">Get emails from SIRA</h6>
            <div class="field has-addons has-addons-centered">
                <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="e.g Alex Smith">
                    <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </p>
            </div>
            <div class="field has-addons has-addons-centered">
                <p class="control has-icons-left">
                    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                </p>
            </div>
            <div class="field">
                <p class="control control-button">
                    <button class="button is-success footer-buttons">Sign Up!</button>
                </p>
            </div>
        </div>
    </div>
    <p class="content has-text-centered">
        <strong>&copy; 2019 SIRA</strong> by <a href="#">Cindy Marchena</a> | For Educational Purposes Only | All Rights Reserved
    </p>
</footer>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script async type="text/javascript" src="#"></script>
<script async type="text/javascript" src="#"></script>
    
</body>
</html>

