<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>SIRA | {% block page_title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.jpg' %}" type="image/x-icon"/ >
    
    <link href="https://fonts.googleapis.com/css?family=Courgette|Patua+One|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    <style>
        body {font-family: roboto;}
        .navbar {height: 125px;}
        .navbar-item img {max-height: 7rem; margin: 20px 40px;}
        
        .navbar-item {margin-left: 40px;}
        a.navbar-item, .navbar-link {color: #000; font-weight: 600; font-family: Courgette; cursor: url('{% static 'icons/animal-paw-print.png' %}'), auto;}
        a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {background-color: transparent; color: #1190CB;}
        .navbar-end {margin-right: 50px;}
        .navbar-dropdown .navbar-item {margin: 10px 10px;}
        .navbar-dropdown {margin-top: -40px;}
        .user-welcome {margin: auto; padding-right:10px;}
        
        .donate {margin-left: -60px;}
        .donate-badge {fill:#1190CB; max-height: 6rem;}
        .donate-text {font-size: 60px; font-weight:300;}
        
        .image img {display: block; height: 80vh; width: 100vw;}
        
        .footer {margin-top: 5rem;}
        .footer .buttons {justify-content: center;}
        .footer .control-button {text-align: center;}
        
        @media screen and (max-width:768px){
            .navbar-item img {max-height: 2rem;}
            .navbar {height: auto;}
            .image img {display: block; height: 40vh; width: 100vw;}
            .navbar-item {margin-left: 0px;}
            .navbar-burger {margin-right: 20px;}
        }
        
    </style>
    
</head>
<body>
    
    <!------------------------------ Navigation Bar ------------------------->
    
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"><img src="{% static 'images/logo.jpg' %}" alt="SIRA logo"></a>

        <div class="navbar-burger burger" data-target="navMenubd-example">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenubd-example" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <a class="navbar-item" href="/">Home</a>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">About</div>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'why_spain' %}">Why Spain?</a>
                    <a class="navbar-item" href="{% url 'sira_team' %}">SIRA Team</a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">Get Involved</div>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'adoption' %}">Adopt</a>
                    <a class="navbar-item" href="{% url 'volunteer' %}">Volunteer</a>
                    <a class="navbar-item" href="{% url 'adoption-guide' %}">Guide</a>
                    <a class="navbar-item" href="{% url 'faqs' %}">FAQ's</a>
                </div>
            </div>
            <a class="navbar-item" href="{% url 'all_dogs' %}">Adopt</a>
            <a class="navbar-item" href="#">Happy Endings</a>
            <a class="navbar-item" href="{% url 'contact' %}">Contact</a>
        </div>

        <div class="navbar-end">

            {% if user.is_authenticated %}
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="subtile is-size-8 user-welcome"><strong>Welcome </strong>{{ request.user }}</p>
                    <p class="control"><a class="button is-danger is-inverted" href="{% url 'logout' %}">Logout</a></p>
                </div>
            </div>
            {% else %}
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">Admin</div>
                <div class="navbar-dropdown ">
                    <a class="navbar-item" href="{% url 'login' %}">Login</a>
                    <a class="navbar-item" href="{% url 'register' %}">Register</a>
                </div>
            </div>
            {% endif %}
            
            <div class="nabar-link donate">
                <a class="navbar-item" href="{% url 'donate' %}">
                    <svg class="donate-badge is-hidden-desktop-only" xmlns="http://www.w3.org/2000/svg" height="448" viewBox="0 -1 448 448" width="100">
                        <path d="m336 355.2v-323.2h-224v323.2l112 59.7zm0 0"/>
                        <path d="m352 360c0 3-1.6 5.7-4.2 7.1l-120 64c-2.4 1.3-5.2 1.3-7.5 0l-120-64c-2.6-1.4-4.2-4.1-4.2-7.1v-328h-16v339.2l144 75.8 144-75.8v-339.2h-16zm0 0"/>
                        <g>
                            <svg preserveAspectRatio="xMidYMid meet" data-bbox="0 0 337.772 303.508" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.772 303.508" height="100" width="100" transform="translate(180 100)" class="white-svg">
                            <path d="M310.485 21.159C290.731 4.583 271.484-.029 245.926 0c-27.13 2.348-50.615 15.589-77.041 49.05C142.46 15.589 118.975 2.348 91.845 0 66.287-.029 47.038 4.583 27.284 21.159 14.511 31.878 0 60.341 0 87.465c.339 54.573 38.391 136.609 163.485 212.905l5.165 3.138.236-.141.236.141 5.165-3.138c125.094-76.296 163.146-158.332 163.485-212.905-.001-27.124-14.514-55.587-27.287-66.306z"></path>
                            </svg>
                        </g>
                        <g>
                            <svg xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink" class="white-svg">
                                <text class="donate-text" x="135" y="300">Donate</text>
                            </svg>
                        </g>
                    </svg>
            
                </a>
            </div>
            
        </div>
    </div>
</nav>
    

<div class="image">
{% block hero-image %}{% endblock %}
</div>
   
{% block content %}{% endblock %}
  
 
<!------------------------------ Footer ------------------------->
<footer class="footer">
    <div class="columns">
        <div class="column is-3 is-offset-2 has-text-centered">
            <h6 class="title">About Us</h6>
            <p>About us short informtaion section</p>
        </div>
        <div class="column is-2 has-text-centered">
            <h6 class="title">Our loacation:</h6>
            <address>
                    <strong >Stichting I Respect Animals</strong><br>
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i><a href="mailto:adoptie.sira@gmail.com">adopties.sira@gmail.com</a></span>
                </address>
            <div class="columns has-text-centered">
                <div class="column has-text-centered">
                    <div class="buttons" data-config-id="icons">
                        <a class="button footer-buttons" href="#"><img src="{% static 'svg/facebook-f.svg' %}" alt=""></a>
                        <a class="button footer-buttons" href="#"><img src="{% static 'svg/instagram.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3 has-text-centered">
            <h6 class="title">Get emails from SIRA</h6>
            <div class="field has-addons has-addons-centered">
                <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="e.g Alex Smith">
                    <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </p>
            </div>
            <div class="field has-addons has-addons-centered">
                <p class="control has-icons-left">
                    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                </p>
            </div>
            <div class="field">
                <p class="control control-button">
                    <button class="button is-success footer-buttons">Sign Up!</button>
                </p>
            </div>
        </div>
    </div>
    <p class="content has-text-centered">
        <strong>&copy; 2019 SIRA</strong> by <a href="#">Cindy Marchena</a> | For Educational Purposes Only | All Rights Reserved
    </p>
</footer>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script async type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script async type="text/javascript" src="{% static 'js/custom-jquery.js' %}"></script>
    
</body>
</html>

