{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block hero-image %}<img src="https://res.cloudinary.com/dbnahdjbc/image/upload/v1575487913/hero-image_c0kfee.png"></img>{% endblock %}


{% block homepage %}

<div class="container is-fluid" id="content">

<!------------------------ About Us Section -------------------->            
<section data-section-id="3" data-component-id="15a7_4_03_awz" data-category="how-it-works" class="section about-us">
    <div class="container is-10 is-offset-1">
        <div class="columns is-vcentered">
            <div class="column is-4 has-text-centered about-us-text">
                <h2 class="title is-spaced has-text-centered" data-config-id="subheader">About Us</h2>
                <img class="image is-128x128 is-inline-block" src="https://res.cloudinary.com/dbnahdjbc/image/upload/v1575313928/logo_kganfk.png" alt="SIRA-logo">
                <p class="subtitle" data-config-id="description">Stichting I Respect Animals also  know as <strong>SIRA</strong> is a non-profit orginazation in The Netherlands.</p>
                <p class="subtitle" data-config-id="description">We're Sandra and Cees van Dijk together with Suzanne van der Hout, founded <strong>SIRA</strong> in November of 2016.</p>
                <p class="subtitle" data-config-id="description">Our mission is to bring awernessand support to saving the forgotten, homeless petd of Spain.</p>
                <p class="subtitle" data-config-id="description"><strong>SIRA</strong> accomplishes there mission through rescue, rehabilitation, and adoption through networking and volunteers.</p>
                <a class="button is-info is-outlined" href="#" data-config-id="primary-action">Get Involved</a>
                <a class="button is-info is-outlined" href="#" data-config-id="primary-action">Happy Endings</a>
            </div>
            <div class="column is-5">
                <img src="static/images/about_us.jpg" alt="About Us image" data-config-id="image">
            </div>
        </div>
    </div>
</section>

<!------------------------ How To Help Section --------------------> 
<section data-section-id="1" data-component-id="15a7_13_01_awz" data-category="blog" class="section how-to-help">
  <div class="container">
    <h2 class="title has-text-centered" data-config-id="header">The Pied Piper Blog</h2>
    <div class="columns" data-config-id="posts_01">
      <div class="column">
        <div class="card" style="height: 100%">
          <div class="card-image"><a href="#"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
          <div class="card-content"><span class="is-size-7">25 Jun 2019</span>
            <h5 class="title is-5"><a href="#">Why I'm the Best Programmer Ever</a></h5><a class="button is-primary" href="#">Read more</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" style="height: 100%">
          <div class="card-image"><a href="#"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
          <div class="card-content"><span class="is-size-7">25 Jun 2019</span>
            <h5 class="title is-5"><a href="#">Secrets of Decentralization</a></h5><a class="button is-primary" href="#">Read more</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card" style="height: 100%">
          <div class="card-image"><a href="#"><img src="placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt=""></a></div>
          <div class="card-content"><span class="is-size-7">25 Jun 2019</span>
            <h5 class="title is-5"><a href="#">Why Strong Tea Isn't Good</a></h5><a class="button is-primary" href="#">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
            
<section data-section-id="2" data-component-id="15a7_5_01_awz" data-category="testimonials" class="section">
  <div class="container has-text-centered">
    <h2 class="title" data-config-id="header">What's So Great About PiperNet?</h2>
    <div class="columns" data-config-id="testimonials_list">
      <div class="column">
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
          </div>
        </div>
        <p class="block">It's a really cool network. Like, we had a fight with Richard at one point, and I think they deleted some of my data, but then they brought it back. Just bro's being bro's. Respected!</p>
        <h5 class="title is-5">Colin</h5>
        <p class="subtitle">CEO at K-Hole</p>
      </div>
      <div class="column">
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
          </div>
        </div>
        <p class="block">This is such a great product that I feel aroused every time I use it. I didn't know the boys would be able to build, but god damn it, they did it. Kickass!</p>
        <h5 class="title is-5">Russ Hanneman</h5>
        <p class="subtitle">Investor, Angel, Great Guy</p>
      </div>
      <div class="column">
        <div class="level">
          <div class="level-item">
            <figure class="image is-128x128"><img class="is-rounded" src="placeholder/pictures/bg_circle.svg?primary=00d1b2" alt=""></figure>
          </div>
        </div>
        <p class="block">Even though I have been dismantled, I live on as an artificial intelligence on the PiperNet. I really like it here. Still waiting for Jared to Piper-chat with me sometime.</p>
        <h5 class="title is-5">Fiona</h5>
        <p class="subtitle">Artificial Intelligence</p>
      </div>
    </div>
  </div>
</section>
        </div>



{% endblock %}